        body {
            margin: 0;
            padding: 0;
        }
        .sidebar {
            width: 200px;
            height: 100vh;
            position: fixed;
            background-color: #343a40;
            color: white;
            padding-top: 20px;
        }
        .sidebar a {
            color: #ccc;
            text-decoration: none;
            padding: 10px 20px;
            display: block;
        }
        .sidebar a:hover {
            background-color: #495057;
            color: white;
        }
        .main-content {
            margin-left: 200px;
            padding: 20px;
        }
        .top-header {
            padding: 10px 20px;
            display: flex;
            justify-content:flex-end;
        }